target
target_*
.env
.vscode
bin
config.json
node_modules
./package-lock.json
hfuzz_target
hfuzz_workspace
**/*.so
**/.DS_Store
test-ledger
docker-target
.idea
.coderrect

spl_*.wasm
serum_dex.wasm
test*.json